fastapi
uvicorn[standard]
python-multipart
langchain
langchain-core
langchain-mistralai
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
transformers
torch
pydantic
python-dotenv
yt-dlp
pydub
openai-whisper
