
langchain
langchain-core
langchain-google-genai
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
transformers
torch
pydantic
python-dotenv
yt-dlp
ffmpeg-python
openai-whisper
fastapi
uvicorn

